@import '/src/styles/Constants.scss';

$about-us-side-margin: calc(2 * var(--screen-side-margin));

#about-section {
  background-color: $neutral-color-05;
  padding: 10vh $about-us-side-margin 2vh $about-us-side-margin;
  color: $neutral-color-95;
  text-align: center;
}
