@import '../../styles/Constants.scss';

$card-grid-container-padding: 10vh;

.grid-container {
  padding: 2rem 0;
  height: 400px;

  .swiper-slide {
    width: calc(25% - 20px);
  }
}

@media screen and (max-width: $screen-size-tablet) {
  .grid-container {
    .swiper-slide {
      width: calc(50% - 20px);
    }
  }
}

@media screen and (max-width: $screen-size-mobile) {
  .grid-container {
    .swiper-slide {
      width: calc(100%);
    }
  }
}
