@import '../../styles/Constants.scss';

$card-grid-container-padding: 10vh;

.grid-container {
  padding: 2rem 0;
  height: 400px;

  .swiper-slide {
    width: calc(22% - 20px);
  }
}

@media screen and (max-width: $screen-size-tablet) {
  .grid-container {
    .swiper-slide {
      width: calc(60% - 2 * var(--screen-side-margin));
    }

    .swiper-wrapper {
      padding-left: var(--screen-side-margin);
      padding-right: 10rem;
    }

    .swiper-slide:nth-last-child(1) {
      padding-right: calc(2 * var(--screen-side-margin));
    }
  }
}

@media screen and (max-width: $screen-size-mobile) {
  .grid-container {
    .swiper-slide {
      width: calc(100% - 2 * var(--screen-side-margin));
    }

    .swiper-wrapper {
      padding-left: var(--screen-side-margin);
      padding-right: 10rem;
    }

    .swiper-slide:nth-last-child(1) {
      padding-right: calc(2 * var(--screen-side-margin));
    }
  }
}
