@import '../../styles/Constants.scss';

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media (max-width: $screen-size-tablet) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: $screen-size-mobile) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
