@import './Constants.scss';

.background {
  background-color: black;
}

.button {
  background: none;
	border: none;
	padding: 0;
	outline: inherit;
  display: inline-block;
  margin: 1rem 1rem;
  box-sizing: border-box;
  cursor: pointer;
  width: fit-content;
  font-weight: 700;
  
  &.filled {
    background-color: $primary-color;
    transition: $hover-transition-time;
    height: 3.25rem;
    padding: 0.1rem;
    color: $neutral-color-95;

    &:hover {
      background-color: $primary-color-75;
      transition: $hover-transition-time;
    }

    &:active{
      background-color: $primary-color-45;
    }
  }

  &.outlined {
    background-color: hsla(0, 0%, 100%, 0);
    transition: $hover-transition-time;
    height: 3.25rem;
    border: 0.1rem solid $neutral-color-95;
    color: $neutral-color-95;

    &:hover {
      background-color: $neutral-color-95;
      color: $neutral-color-05;
      transition: $hover-transition-time;
    }

    &:active{
      background-color: $neutral-color-85;
      border-color: $neutral-color-85;
      transition: $hover-transition-time;
    }
  }

  &.square {
    border-radius: 0.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
  }

  &.round {
    border-radius: 2.3rem;
    padding: 1rem 2.25rem 1rem 2.25rem;
  }
}
