.background {
  background-color: black;
}

.button {
  display: inline-block;
  margin: 1rem 1rem;
  box-sizing: border-box;
  cursor: pointer;
  width: fit-content;
  font-weight: 700;
  
  &.filled {
    background-color: rgb(35, 166, 240);
    transition: 0.2s;
    height: 3.25rem;
    padding: 0.1rem;
    color: white;

    &:hover {
      background-color: hsl(202, 87%, 75%);
      transition: 0.2s;
    }

    &:active{
      background-color: hsl(202, 87%, 50%);
    }
  }

  &.outlined {
    background-color: #ffffff00;
    transition: 0.2s;
    height: 3.25rem;
    border: 0.1rem solid white;
    color: white;

    &:hover {
      background-color: white;
      color: black;
      transition: 0.2s;
    }

    &:active{
      background-color: hsl(0, 0%, 80%);
      border-color: hsl(0, 0%, 80%);
    }
  }

  &.square {
    border-radius: 0.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
  }

  &.round {
    border-radius: 2.3rem;
    padding: 1rem 2.25rem 1rem 2.25rem;
  }
}
