@import './Constants.scss';

@mixin disableDefaultButtonStyles {
  font-family: inherit;
  background: none;
  border: none;
  padding: 0;
}

$hover-transition-time: 0.2s;
$click-transition-time: 0.01s;
$button-height: 3.25rem;

.background {
  background-color: black;
}

.button {
  @include disableDefaultButtonStyles;
  cursor: pointer;
  background: none;
  margin: 1rem;
  font-weight: 700;

  &.filled {
    background-color: $primary-color;
    transition: $hover-transition-time;
    border: 0.1rem solid $primary-color;
    color: $neutral-color-95;

    &:hover {
      background-color: $primary-color-75;
      border-color: $primary-color-75;
      transition: $hover-transition-time;
    }

    &:active {
      background-color: $primary-color-45;
      border-color: $primary-color-45;
      transition: $click-transition-time;
    }
  }

  &.outlined {
    background-color: hsla(0, 0%, 100%, 0);
    transition: $hover-transition-time;
    border: 0.1rem solid $neutral-color-95;
    color: $neutral-color-95;

    &:hover {
      background-color: $neutral-color-95;
      color: $neutral-color-05;
      transition: $hover-transition-time;
    }

    &:active {
      background-color: $neutral-color-65;
      border-color: $neutral-color-65;
      transition: $click-transition-time;
    }
  }

  &.square {
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
  }

  &.round {
    border-radius: calc(#{$button-height} / 2);
    padding: 1rem 2.25rem;
  }
}
