@import '../../styles/Constants.scss';

@mixin section($columns: 4, $gap: 3rem) {
  margin: 0 9vw;
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

@mixin container() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;

  .diamond-section {
    @include section(3);

    .diamond-container {
      @include container();

      .diamond-logo {
        width: 12rem;
      }
    }
  }

  .gold-section {
    @include section(6);
    margin-top: 0;

    .gold-container {
      @include container();
      grid-column: span 2;
      .gold-logo {
        width: 11rem;
      }
    }

    .gold-container:last-child {
      grid-column: span 3;
    }
    .gold-container:nth-last-child(2) {
      grid-column: span 3;
    }
  }

  .silver-section {
    @include section(3);

    .silver-container {
      @include container();

      .silver-logo {
        width: 9rem;
      }
    }
  }
}

@media (max-width: $screen-size-mobile) {
  .partners-container {
    gap: 2rem;

    .diamond-section {
      @include section(2, 1rem);

      .diamond-container {
        .diamond-logo {
          width: 7rem;
        }
      }
      .diamond-container:last-child {
        grid-column: span 2;
      }
    }

    .gold-section {
      @include section(2, 1rem);

      .gold-container {
        grid-column: span 1;
        .gold-logo {
          width: 6rem;
        }
      }

      .gold-container:last-child {
        grid-column: span 2;
      }

      .gold-container:nth-last-child(2) {
        grid-column: span 1;
      }
    }

    .silver-section {
      @include section(2, 1rem);

      .silver-container {
        .silver-logo {
          width: 5.5rem;
        }
      }
    }
  }
}
