@import '../../styles/Constants.scss';

@mixin section($columns: 4, $gap: 3rem) {
  margin: 0 9vw;
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap;
  justify-content: center;
  justify-items: center;
}

@mixin container() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin name() {
  margin-top: 1rem;
  margin-bottom: 0;
  text-align: center;
}

.partners-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 4rem;

  .diamond-section {
    @include section(4);

    .diamond-container {
      @include container();

      .diamond-logo {
        width: 11rem;
      }

      .diamond-name {
        @include name();
      }
    }
  }

  .gold-section {
    @include section(5);
    margin-top: 0;

    .gold-container {
      @include container();

      .gold-logo {
        width: 10rem;
      }

      .gold-name {
        @include name();
      }
    }
  }

  .silver-section {
    @include section(5);

    .silver-container {
      @include container();

      .silver-logo {
        width: 9rem;
      }

      .silver-name {
        @include name();
      }
    }
  }
}

@media (max-width: $screen-size-mobile) {
  .partners-container {
    gap: 2rem;

    .diamond-section {
      @include section(2, 1rem);

      .diamond-container {
        .diamond-logo {
          width: 6rem;
        }

        .diamond-name {
          font-size: 1.2rem;
        }
      }
    }

    .gold-section {
      @include section(2, 1rem);

      .gold-container {
        .gold-logo {
          width: 5rem;
        }

        .gold-name {
          font-size: 1.1rem;
        }
      }

      .gold-container:nth-child(5) {
        grid-column: span 2;
      }
    }

    .silver-section {
      @include section(2, 1rem);

      .silver-container {
        .silver-logo {
          width: 4rem;
        }

        .silver-name {
          font-size: 1rem;
        }
      }

      .silver-container:nth-child(5) {
        grid-column: span 2;
      }
    }
  }
}
