@import '/src/styles/Constants.scss';

#events-section {
  #events-content {
    background-color: $neutral-color-05;
    color: $neutral-color-95;
    padding: 6vh var(--screen-side-margin) 10vh var(--screen-side-margin);

    #events-header,
    #events-description {
      text-align: center;
    }
  }

  #events-wave-img {
    transform: rotateZ(180deg) translateY(1px);
    width: 100%;
  }

  .card-swiper-label {
    padding-top: 2rem;
    text-align: center;
  }
}

@media screen and (max-width: $screen-size-tablet) {
  #events-section {
    #events-content {
      padding: 7vh 0 10vh 0;
    }
  }

  #events-header,
  #events-description {
    padding: 0 var(--screen-side-margin);
  }
}
